body {
    background-color: rgb(0, 0, 43);
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
    font-size: 3rem; /* Adjust the font size as needed */
    margin: 0; /* Remove any unwanted margins */
    position: relative;
}

p {
    color: white;
}

#subscriberCount {
    color: white
}

nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(36, 35, 35, 0.62);
    padding: 10px;
    text-align: center;
    z-index: 100;
}

button {
    background-color: rgba(43, 43, 43, 0.62);
    color: white;
    height: 2.125rem;
    padding: 0 1.0625rem;
    font-size: 0.75em;
    font-weight: 400;
    border-radius: 100px;
    transition: color 0.25s, background-color 0.25s, border-color 0.25s;
    border-color: rgba(43, 43, 43, 0.62);
    margin: 0 10px;
}

button:hover {
    color: rgba(70, 70, 70, 0.62);
    background-color: rgba(34, 34, 34, 0.62);
    border-color: rgba(34, 34, 34, 0.62);
}

/* Section styles */
#homepg, #aboutpg, #mappg {
    visibility: hidden;
    opacity: 0;
    padding-top: 60px;
}

#homepg {
    visibility: visible;
    opacity: 1;
    padding-top: 60px;
}

#aboutpg {
    width: 100%; /* Ensure it takes up the full width of the container */
    margin: 0 auto; /* Centers the section horizontally */
    padding: 0px; /* Add some padding for spacing */
    text-align: left; /* Ensures text is aligned left */
    box-sizing: border-box; /* Ensures padding doesn’t increase the width */
    overflow: hidden; /* Prevents any overflowing content */
}

#mappg {
    display: block; /* Use block layout */
    padding-top: 0; /* Ensure no extra padding from the top */
    text-align: center; /* Centers the text horizontally */
}

#homepg:target, #aboutpg:target, #mappg:target {
    visibility: visible;
    opacity: 1;
}

#homepg:not(:target), #aboutpg:not(:target), #mappg:not(:target) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

body.no-scroll {
    overflow: hidden; /* Prevent scrolling */
}
